openapi: 3.2.0
info:
  title: Redocly Cafe
  description: |
    REST API for managing cafe operations.
  version: 1.0.0
  contact:
    email: team@redocly.com
    url: https://redocly.com/contact-us/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://redocly.com/subscription-agreement
servers:
  - url: https://api.cafe.com/v1
    description: Production server
  - url: https://staging-api.cafe.com/v1
    description: Stage server
tags:
  - name: Products
    description: Operations related to products.
  - name: Orders
    description: Order management operations.
  - name: Auth
    description: Authentication operations.
  - name: Stats
    description: Statistics operations.
paths:
  /menu:
    $ref: paths/menu.yaml
  /menu/{menuItemId}:
    $ref: paths/menu_{menuItemId}.yaml
  /menu-item-images/{menuItemId}:
    $ref: paths/menu-item-images_{menuItemId}.yaml
  /orders:
    $ref: paths/orders.yaml
  /orders/{orderId}:
    $ref: paths/orders_{orderId}.yaml
  /order-items:
    $ref: paths/order-items.yaml
  /revenue:
    $ref: paths/revenue.yaml
  /oauth2/register:
    $ref: paths/oauth2_register.yaml
webhooks:
  order-notification:
    $ref: webhooks/order-notification.yaml
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for API access.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.cafe.com/oauth2/authorize
          tokenUrl: https://auth.cafe.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
        clientCredentials:
          tokenUrl: https://auth.cafe.com/oauth2/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
    ApiKey:
      type: apiKey
      name: X-API-Key
      in: header
      description: API key for internal operations.
