openapi: 3.2.0
info:
  title: Redocly Coffee Shop
  description: |
    REST API for managing coffee shop operations.
  version: 1.0.0
  contact:
    email: team@redocly.com
    url: https://redocly.com/contact-us/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: test

servers:
  - url: https://api.coffeeshop.com/v1
    description: Production server
  - url: https://staging-api.coffeeshop.com/v1
    description: Stage server
  - url: http://localhost:3000/v1
    description: Local development server

tags:
  - name: Products
    description: Operations related to products.
  - name: Orders
    description: Order management operations.
  - name: Auth
    description: Authentication operations.
  - name: Stats
    description: Statistics operations.

paths:
  /menu:
    get:
      tags:
        - Products
      summary: Get menu items
      description: Retrieve a collection of menu items with optional filtering and pagination.
      operationId: getMenuItems
      security: []
      parameters:
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Filter'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItemList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Products
      summary: Create menu item
      description: Create a new menu item.
      operationId: createMenuItem
      security:
        - OAuth2: ['menu:write']
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MenuItem'
      responses:
        '201':
          description: Menu item created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /menu/{menuItemId}:
    parameters:
      - $ref: '#/components/parameters/MenuItemId'

    delete:
      tags:
        - Products
      summary: Delete menu item
      description: Delete an existing menu item.
      operationId: deleteMenuItem
      security:
        - OAuth2: ['menu:write']
      responses:
        '204':
          description: Menu item deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /menu-item-images/{menuItemId}:
    parameters:
      - $ref: '#/components/parameters/MenuItemId'

    get:
      operationId: getMenuItemPhoto
      summary: Get menu item photo
      description: Retrieve the product photo image for a specific menu item.
      security: []
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Menu item photo retrieved successfully.
          content:
            image/png:
              schema:
                type: string
                format: binary
            text/plain:
              schema: 
                description: Alternative image text.
                type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /orders:
    get:
      tags:
        - Orders
      summary: Get orders
      description: Retrieve a collection of orders with optional filtering and pagination.
      operationId: getOrders
      security:
        - OAuth2: ['orders:read']
      parameters:
        - $ref: '#/components/parameters/Filter'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/Search'
        
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Orders
      summary: Create order
      description: Create a new order.
      operationId: createOrder
      security:
        - OAuth2: ['orders:write']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderObject'
      responses:
        '201':
          description: Order created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order by ID
      description: Retrieve a single order by its ID.
      operationId: getOrderById
      security: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Orders
      summary: Update order
      description: Update an existing order using JSON Merge Patch. Include only the fields you want to update.
      operationId: updateOrder
      security:
        - OAuth2: ['orders:write']
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [created, pending, completed, cancelled]
                  description: Update order status.
                orderItemIds:
                  type: array
                  items:
                    type: string
                  description: Update order items.
              oneOf:
                - required:
                    - status
                - required:
                    - orderItemIds
              description: Partial order update using JSON Merge Patch - only include fields to update.
      responses:
        '200':
          description: Order updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Orders
      summary: Delete order
      description: Delete an existing order.
      operationId: deleteOrder
      security:
        - OAuth2: ['orders:write']
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '204':
          description: Order deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':  
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /orders/{orderId}/order-items:
    get:
      tags:
        - Orders
      summary: Get order menu items
      description: Retrieve order menu items for a specific order.
      operationId: getOrderItems
      security:
        - OAuth2: ['orders:read']
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MenuItem'
                description: List of order menu items.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /revenue:
    get:
      tags:
        - Stats
      summary: Get revenue statistics
      description: Retrieve revenue statistics for a configurable date range. Returns revenue, order counts, average order amount, and other useful statistics.
      operationId: getRevenue
      security:
        - ApiKey: []
      parameters:
        - name: startDate
          in: query
          required: false
          description: Start date for the revenue calculation period (ISO 8601 datetime format). Defaults to 30 days ago if not provided.
          schema:
            type: string
            format: date-time
          example: '2024-01-01T00:00:00Z'
        - name: endDate
          in: query
          required: false
          description: End date for the revenue calculation period (ISO 8601 datetime format). Defaults to current time if not provided.
          schema:
            type: string
            format: date-time
          example: '2024-01-31T23:59:59Z'
      responses:
        '200':
          description: Revenue statistics retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueStatistics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  
  /oauth2/register:
    post:
      tags:
        - Auth
      summary: Create OAuth2 client
      description: |
        Register a new OAuth2 client for dynamic client registration. 
        All fields are optional. If not provided:
        - `redirectUris` defaults to an empty array
        - `scopes` defaults to all available scopes (menu:read, menu:write, orders:read, orders:write)
        - `grantTypes` defaults to both supported grant types (authorization_code, client_credentials)
        
        Returns the generated `clientId` and `clientSecret` which should be stored securely.
      operationId: registerOAuth2Client
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterClientObject'
      responses:
        '201':
          description: OAuth2 client registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /oauth2/authorize:
    get:
      tags:
        - Auth
      summary: Get authorization code for OAuth2 client
      description: |
        Authorization endpoint per RFC 6749 Section 4.1.1. Initiates the authorization code flow.
        
        The client redirects the resource owner (user) to this endpoint. Upon successful authorization,
        the server redirects back to the `redirect_uri` with an authorization `code` that can be exchanged
        for an access token via `/oauth2/token`.
        
        **Required Parameters:**
        - `client_id`: The client identifier
        - `redirect_uri`: The redirect URI registered for this client
        - `response_type`: Must be `"code"` (authorization code flow)
        
        **Optional Parameters:**
        - `scope`: Space-separated list of scopes (defaults to client's registered scopes)
        - `state`: Opaque value used to maintain state between request and callback
        
        **Response:**
        - Success: Redirects to `redirect_uri` with `code` and optionally `state` query parameters
        - Error: Redirects to `redirect_uri` with `error=access_denied` and optionally `state` query parameter
      operationId: authorizeOAuth2Client
      security: []
      parameters:
        - $ref: '#/components/parameters/ClientId'
        - $ref: '#/components/parameters/RedirectUri'
        - $ref: '#/components/parameters/ResponseType'
        - $ref: '#/components/parameters/Scope'
        - $ref: '#/components/parameters/State'
      responses:
        '200':
          description: Authorization form HTML page for user consent.
          content:
            text/html:
              schema:
                type: string
                description: HTML form for user authorization consent.
        '302':
          description: Redirect response with authorization code or error.
          headers:
            Location:
              description: |
                Redirect URL to the client's redirect_uri with:
                - Success: `code` query parameter (authorization code) and optionally `state`
                - Error: `error=access_denied` query parameter and optionally `state`
              schema:
                type: string
                format: uri
              example: https://client.example.com/callback?error=access_denied&state=xyz123
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'

  /oauth2/token:
    post:
      tags:
        - Auth
      summary: Get OAuth2 token
      description: |
        Exchange credentials for an OAuth2 access token per RFC 6749 Section 4.1.3. 
        The request MUST use `application/x-www-form-urlencoded` format with UTF-8 encoding.
        
        **Authorization Code Flow (RFC 6749 Section 4.1.3):**
        - REQUIRED: `grant_type=authorization_code`, `client_id`, `client_secret`, `code`, `redirect_uri`
        - OPTIONAL: `scope` (space-separated string, uses scopes from authorization code if not provided)
        
        **Client Credentials Flow (RFC 6749 Section 4.4.2):**
        - REQUIRED: `grant_type=client_credentials`, `client_id`, `client_secret`
        - OPTIONAL: `scope` (space-separated string, defaults to client's registered scopes)
        - NOT USED: `code`, `redirect_uri`
      operationId: getOAuth2Token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuth2TokenRequestForm'
      responses:
        '200':
          description: OAuth2 token retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

          
webhooks:
  order-notification:
    post:
      tags:
        - Orders
      # Does it make sense to define security here??
      operationId: orderNotificationWebhook
      summary: Order notification webhook
      description: Webhook triggered when a new order is placed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderNotification'
      responses:
        '200':
          description: Webhook received successfully.
        '400':
          $ref: '#/components/responses/BadRequest'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication for API access.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.coffeeshop.com/oauth/authorize
          tokenUrl: https://auth.coffeeshop.com/oauth/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
        clientCredentials:
          tokenUrl: https://auth.coffeeshop.com/oauth/token
          scopes:
            menu:read: Read access to menu items and images
            menu:write: Write access to menu items (create, delete)
            orders:read: Read access to orders
            orders:write: Write access to orders (create, update, delete)
    ApiKey:
      type: apiKey
      name: X-API-Key
      in: header
      description: API key for internal operations.

  parameters:
    OrderId:
      name: orderId
      in: path
      description: ID of the order to retrieve.
      required: true
      schema:
        type: string
        pattern: '^order_[0-9abcdefghjkmnpqrstvwxyz]{26}$'
    Size:
      name: size
      in: query
      required: false
      schema:
        type: string
        enum: [thumbnail, medium, large]
        default: medium
      description: Size of the photo to retrieve.
    MenuItemId:
      name: menuItemId
      in: path
      description: ID of the menu item to retrieve.
      required: true
      schema:
        type: string
        pattern: '^product_[0-9abcdefghjkmnpqrstvwxyz]{26}$'
    Filter:
      name: filter
      description: |-
        Filters the collection items. This field requires a special format.

        For more information, see
        [Using filter with collections](#section/Using-filter-with-collections).
      in: query
      required: false
      schema:
        type: string
      example: status:approved,pending updatedAt:2020-01-01..2022-01-01
    Sort:
      name: sort
      description: |-
        To sort by id in descending order use `-id`.
        To sort by id in ascending order use `id`.
      in: query
      required: false
      schema:
        type: string
      example: -name
    Limit:
      name: limit
      description: |-
        Use to return a number of results per page.
        If there is more data, use in combination with `after` to page through the data.
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      example: 10
    After:
      name: after
      in: query
      required: false
      description: |-
        Use the `endCursor` as a value for the `after` parameter to get the next page.
      schema:
        type: string
      example: a25fgaksjf23la==
    Before:
      name: before
      in: query
      required: false
      description: |-
        Use the `startCursor` as a value for the `before` parameter to get the next page.
      schema:
        type: string
      example: bfg23aksjf23zb1==
    Search:
      name: search
      in: query
      description: Search.
      required: false
      schema:
        type: string
      example: text-to-search
    ClientId:
      name: client_id
      in: query
      required: true
      description: Client identifier (RFC 6749 Section 2.2).
      schema:
        type: string
    RedirectUri:
      name: redirect_uri
      in: query
      required: true
      description: Redirect URI registered for this client (REQUIRED per RFC 6749 Section 4.1.1, must match registered redirect URI).
      schema:
        type: string
        format: uri
    ResponseType:
      name: response_type
      in: query
      required: true
      description: Response type (REQUIRED per RFC 6749 Section 4.1.1, must be "code" for authorization code flow).
      schema:
        type: string
        enum: [code]
    Scope:
      name: scope
      in: query
      required: false
      description: Space-separated list of scopes (OPTIONAL per RFC 6749, defaults to client's registered scopes).
      schema:
        type: string
        example: menu:read menu:write
    State:
      name: state
      in: query
      required: false
      description: Opaque value used to maintain state between request and callback (OPTIONAL per RFC 6749, recommended for security).
      schema:
        type: string

  schemas:
    MenuItem:
      type: object
      properties:
        createdAt:
          description: Created date.
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          description: Updated date.
          type: string
          format: date-time
          readOnly: true
        id:
          description: Menu item ID. Unique identifier prefixed with 'product_'.
          type: string
          readOnly: true
        object:
          description: Pagination entity name.
          type: string
          enum: [menuItem]
          readOnly: true
        name:
          description: Menu item name. Must be lowercase letters, optionally hyphenated (e.g., "coffee", "tea", "cake", "ice-cream").
          type: string
          pattern: '^[a-z]+(-[a-z]+)*$'
          minLength: 1
          maxLength: 50
          examples:
            - coffee
            - tea
            - cake
            - ice-cream
        price:
          description: Price in cents.
          type: integer
          minimum: 0
        photo:
          writeOnly: true
          type: [string, 'null']
          format: binary
          description: Photo of the menu item. Must be a PNG image and less than 1MB.
        photoTextDescription:
          writeOnly: true
          type: [string, 'null']
        recommendedWith:
          type: array
          items:
            type: string
          description: List of menu item ids that taste good together.
        category:
          description: Menu item category.
          type: string
          enum: [beverage, dessert]
      discriminator:
        propertyName: category
        # Do we want to showcase the defaultMapping somewhere?
        mapping:
          beverage: '#/components/schemas/Beverage'
          dessert: '#/components/schemas/Dessert'
      required:
        - id
        - name
        - category
        - price
        - createdAt
        - updatedAt

    Beverage:
      allOf:
        - $ref: '#/components/schemas/MenuItem'
        - type: object
          properties:
            size:
              type: number
              minimum: 0
              description: Size in milliliters.
            containsCaffein:
              type: boolean
              description: Indicates if the beverage contains caffeine.
          required:
            - size
            - containsCaffein

    Dessert:
      allOf:
        - $ref: '#/components/schemas/MenuItem'
        - type: object
          properties:
            calories:
              type: number
              minimum: 0
              description: Amount of calories.
          required:
            - calories

    MenuItemList:
      type: object
      properties:
        object:
          type: string
          enum: [list]
          description: Pagination entity name.
        page:
          $ref: '#/components/schemas/Page.yaml'
        items:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/MenuItem'
      required:
        - object
        - page
        - items

    CreateOrderObject:
      type: object
      properties:
        customerName:
          type: string
          description: Name of the customer who placed the order.
        orderItemIds:
          type: array
          items:
            type: string
            description: ID of the order item.
      required:
        - customerName
        - orderItemIds

    Order:
      type: object
      title: Order
      allOf:
        - $ref: '#/components/schemas/OrderItem'
        - type: object
          properties:
            orderItemIds:
              description: List of order item IDs.
              type: array
              items:
                type: string
          required:
            - orderItemIds

    OrderItem:
      type: object
      title: OrderItem
      properties:
        id:
          description: Order ID. Unique identifier prefixed with 'order_'.
          type: string
          readOnly: true
        object:
          description: Pagination entity name.
          type: string
          enum: [order]
          readOnly: true
        customerName:
          description: Name of the customer who placed the order. Must start and end with a letter, and can contain letters, spaces, hyphens, and apostrophes (e.g., "John Doe", "Mary-Jane", "O'Brien").
          type: string
          pattern: '^[A-Za-z]+(?:[\s''-][A-Za-z]+)*$'
          minLength: 1
          maxLength: 100
          examples:
            - John Doe
            - Mary-Jane
            - O'Brien
            - Jean-Pierre
        status:
          description: Order status.
          type: string
          enum: [created, pending, completed, cancelled]
        totalPrice:
          description: Total order price in cents.
          type: integer
          minimum: 0
          readOnly: true
        createdAt:
          description: Created date.
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          description: Updated date.
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - status
        - totalPrice
        - createdAt
        - updatedAt

    OrderList:
      type: object
      properties:
        object:
          type: string
          enum: [list]
          description: Pagination entity name.
        page:
          $ref: '#/components/schemas/Page.yaml'
        items:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/OrderItem'
      required:
        - object
        - page
        - items

    OrderNotification:
      type: object
      required:
        - orderId
        - eventType
        - timestamp
      properties:
        orderId:
          type: string
          description: Unique order identifier.
        eventType:
          type: string
          enum: [order_created, order_updated, order_completed, order_cancelled]
          description: Type of order event.
        timestamp:
          type: string
          format: date-time
          description: When the event occurred.

    Page.yaml:
      type: object
      properties:
        endCursor:
          type:
            - string
            - 'null'
          description: |-
            Use with the `after` query parameter to load the next page of data.
            When `null`, there is no data.
            The cursor is opaque and internal structure is subject to change.
        startCursor:
          type:
            - string
            - 'null'
          description: |-
            Use with the `before` query parameter to load the previous page of data.
            When `null`, there is no data.
            The cursor is opaque and internal structure is subject to change.
        hasNextPage:
          type: boolean
          description: Indicates if there is a next page with items.
        hasPrevPage:
          type: boolean
          description: Indicates if there is a previous page with items.
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Value showing how many items are in the page limit.
        total:
          type: integer
          description: Count of items across all pages.
          minimum: 0
      required:
        - endCursor
        - startCursor
        - hasNextPage
        - hasPrevPage
        - limit
        - total

    RevenueStatistics:
      type: object
      description: Revenue statistics for a given date range.
      properties:
        revenue:
          type: number
          format: float
          description: Total revenue in dollars from completed orders.
          minimum: 0
        averageOrderAmount:
          type: number
          format: float
          description: Average order amount in dollars (calculated from completed orders only).
          minimum: 0
        totalOrders:
          type: integer
          description: Total number of orders (all statuses) in the date range.
          minimum: 0
        createdOrders:
          type: integer
          description: Number of created orders.
          minimum: 0
        pendingOrders:
          type: integer
          description: Number of pending orders.
          minimum: 0
        completedOrders:
          type: integer
          description: Number of completed orders.
          minimum: 0
        cancelledOrders:
          type: integer
          description: Number of canceled orders.
          minimum: 0
        startDate:
          type: string
          format: date-time
          description: Start date of the revenue calculation period.
        endDate:
          type: string
          format: date-time
          description: End date of the revenue calculation period.
      required:
        - revenue
        - averageOrderAmount
        - totalOrders
        - createdOrders
        - pendingOrders
        - completedOrders
        - cancelledOrders
        - startDate
        - endDate

    Error:
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          description: URI reference that identifies the problem type.
          default: 'about:blank'
        title:
          type: string
          description: Short summary of the problem type.
        status:
          type: integer
          format: int32
          description: HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          exclusiveMaximum: 600
        code:
          description: Error code.
          type: string
        message:
          description: Human-readable error message.
          type: string
        details:
          description: Additional error details.
          type: object
          additionalProperties: true
      required:
        - type
        - title
        - status
        - code
        - message

    RegisterClientObject:
      type: object
      properties:
        name:
          type: string
          description: Client name.
        redirectUris:
          type: array
          items:
            type: string
            format: uri
          description: List of redirect URIs (optional, defaults to empty array).
        scopes:
          type: array
          items:
            type: string
            enum: [menu:read, menu:write, orders:read, orders:write]
          description: List of scopes.
        grantTypes:
          type: array
          items:
            type: string
            enum: [authorization_code, client_credentials]
          description: List of grant types.
      required:
        - name
        - redirectUris
        - scopes
        - grantTypes
 
    OAuth2Client:
      type: object
      properties:
        clientId:
          type: string
          description: Client ID.
        clientSecret:
          type: string
          description: Client secret.
      required:
        - clientId
        - clientSecret

    OAuth2TokenRequestForm:
      type: object
      properties:
        grant_type:
          type: string
          enum: [authorization_code, client_credentials]
          description: OAuth2 grant type (RFC 6749 Section 4.1.3).
        client_id:
          type: string
          description: Client ID (RFC 6749 Section 2.2).
        client_secret:
          type: string
          description: Client secret (RFC 6749 Section 2.3.1).
        code:
          type: string
          description: Authorization code (required for authorization_code grant type, RFC 6749 Section 4.1.3).
        redirect_uri:
          type: string
          format: uri
          description: Redirect URI (required for authorization_code grant type, must match the one used in authorization request, RFC 6749 Section 4.1.3).
        scope:
          type: string
          description: 'Space-separated list of scopes (RFC 6749 Section 3.3). Example: "menu:read menu:write orders:read orders:write".'
      required:
        - grant_type
        - client_id
        - client_secret

    OAuth2Token:
      type: object
      description: OAuth2 token response per RFC 6749 Section 5.1. All field names use snake_case as per OAuth2 standard.
      properties:
        access_token:
          type: string
          description: Access token issued by the authorization server (RFC 6749 Section 5.1).
        refresh_token:
          type: string
          description: Refresh token used to obtain new access tokens (RFC 6749 Section 5.1). Only provided for authorization_code grant type.
        token_type:
          type: string
          description: Type of token issued (RFC 6749 Section 5.1).
          enum: [Bearer]
          default: Bearer
        expires_in:
          type: integer
          description: Lifetime in seconds of the access token (RFC 6749 Section 5.1).
        scope:
          type: string
          description: Scope of the access token as a space-separated string (RFC 6749 Section 5.1). May be omitted if identical to the scope requested.
      required:
        - access_token
        - token_type
        - expires_in

  responses:
    BadRequest:
      description: Bad request - invalid input parameters.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - authentication required.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - insufficient permissions.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'